<form method="POST" action="/process">
    <h2>Create MPG</h2>
    <label>Video Quality</label>
    <input type="number" name="videoQuality" required />
    <div id="quality-text">0 - 100</div>
	<% if (videoSource) { %>
        <button type="submit">Generate</button>
    <% } else { %>
        <button type="submit" disabled>Generate</button>
    <% } %>
</form>