<% encodes && encodes.forEach(item => { console.log('~> item:', item) %>
    <div class="preview-content">
        <p>Source: <%= item.url %></p>
        <p>Quality: <%= item.videoQuality %></p>
    </div>
<% }) %>
