<% encodes && encodes.forEach((item, i) => { console.log('~> item:', item) %>
    <div class="preview-content">
        <p>Source: <%= item.stream.path %></p>
        <p>Quality: <%= item.videoQuality %></p>
        <div id="<%= 'holder' + i %>"></div>
       
    </div>
<% }) %>
