<% if (videoSource) {
    console.log('videoSource:', videoSource) %>
    <video controls>
        <source src="<%= videoSource.tempFilePath %>" type="<%= videoSource.mimetype %>">
    </video>
    <p>
        <%= videoSource.name %>
        <br>
        <%= Math.round(videoSource.size / 1000) + 'Kb' %>
    </p>
<% } %>