<!DOCTYPE html>
<html>
	<head>
		<title>MPG Converter</title>
		<link rel="stylesheet" type="text/css" href="./css/style.css" />
	</head>

	<body>
		<div id="header">
			<h1>MPG CONVERTER</h1>
            <p>"Auto-play" video solution for Android OS<p>	
		</div>
        <div id="content-holder">
            <div id="form-holder">
                <% include partials/form %>
            </div>
            <div id="preview-holder">
            </div>
		</div>
	</body>
</html>