body {
	font: 13px 'Lucida Grande', Helvetica, Arial, sans-serif;
	background-color: #1e1e1e;
	color: white;
}

.content-holder {
	background: #450000;
	display: flex;
	/* align-items: flex-start; */
}

#form-holder {
	background: #004500;
	min-width: 325px;
}

form {
	padding: 1em 0;
}

#preview-holder {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 1;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.preview-content {
	background-color: #4544cd;
	border: 2px solid #f00;
	margin: 5px;
}

input {
	display: block;
}

input[type='number'] {
	width: 30px;
}

#quality-text {
	font-style: italic;
	display: inline-block;
}
