body {
	font: 13px 'Lucida Grande', Helvetica, Arial, sans-serif;
	background-color: #1e1e1e;
	color: white;
}

.content-holder {
	/* background: #454545; */
	display: flex;
	/* align-items: flex-start; */
}

.form-holder {
	/* background: #004500; */
	min-width: 240px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h2 {
	margin-top: 0;
}

.preview-content {
	background-color: #4544cd;
	border: 2px solid #f00;
	margin: 5px;
}

input,
label,
button {
	display: block;
}

button {
	margin: 1em 0;
}

input[type='number'] {
	width: 30px;
	display: inline-block;
}

#quality-text {
	font-style: italic;
	display: inline-block;
}
