body {
	font: 13px 'Lucida Grande', Helvetica, Arial, sans-serif;
	background-color: #242424;
	color: white;
}

.content-holder {
	display: flex;
}

form {
	min-width: 240px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h2 {
	margin-top: 0;
}

.player-content {
	background-color: #0c0c0c;
	display: inline-block;
	padding: 5px;
	margin: 0 10px 10px 0;
}

.player-details {
	margin: 1em;
}

input,
label,
button {
	display: block;
}

button.left {
	float: left;
}

button.right {
	float: right;
}

button {
	margin: 1em 0;
}

input[type='number'] {
	width: 36px;
	display: inline-block;
	margin-top: 0.5em;
}

#quality-text {
	font-style: italic;
	display: inline-block;
	margin-left: 0.5em;
}
